# ===== Servidor =====
PORT=3333
# Segredo que vai na URL dos webhooks (invente um valor longo e aleatório).
WEBHOOK_TOKEN=75953e2b0faa630cc4598cf43a490e38873c6a94b808e677
# DEBUG=true   # descomente para logs detalhados

# ===== Chatwoot =====
# URL base da sua instância (sem barra no final).
CHATWOOT_BASE_URL=https://atendimento.paroquiabomretiro.com.br
# ID da conta (aparece na URL: /app/accounts/<ID>/...).
CHATWOOT_ACCOUNT_ID=1
# Token de acesso do agente/bot: Perfil -> Configurações -> Access Token.
CHATWOOT_API_ACCESS_TOKEN=WdSgwJzLYzyZv8gBwjgz5Vry
# ID da caixa de entrada do tipo "API" que você criou.
CHATWOOT_INBOX_ID=8

# ===== Z-API =====
ZAPI_INSTANCE_ID=3EAC5419F5CC32F3B3C1D2F0F8AD607A
ZAPI_INSTANCE_TOKEN=1FF327FF0485588E1241B209
# "Account Security Token" (header Client-Token) do painel da Z-API.
ZAPI_CLIENT_TOKEN=F8aca1c1f2d3747f193f2894ed0dec2eeS
ZAPI_BASE_URL=https://api.z-api.io

# ===== Comportamento =====
# Encaminhar mensagens enviadas pelo próprio número (cuidado: pode gerar loop). Padrão: false
FORWARD_FROM_ME=false
# Ignorar mensagens de grupos. Padrão: true
IGNORE_GROUPS=true
# Baixar e reenviar mídias para o Chatwoot. Se false, envia apenas o link. Padrão: true
HANDLE_MEDIA=true
